{% extends 'base.html' %}

{% block title %}Income{% endblock %}

{% block content %}
<h1 class="text-center">Income Page</h1>
<form method="post" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="income_submit" class="btn btn-success btn-block">Kirim</button>
</form>

<h2 class="text-center mt-4">Add New Income Category</h2>
<form method="post" class="mt-4">
    {% csrf_token %}
    {{ new_category_form.as_p }}
    <button type="submit" name="new_income_category" class="btn btn-primary btn-block">Add Category</button>
</form>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    function toggleBankNameField() {
        var paymentMethod = document.getElementById('id_payment_method').value;
        var bankNameField = document.getElementById('id_bank_name');
        if (paymentMethod === 'card') {
            bankNameField.parentElement.style.display = 'block';
        } else {
            bankNameField.parentElement.style.display = 'none';
        }
    }

    var paymentMethodField = document.getElementById('id_payment_method');
    if (paymentMethodField) {
        paymentMethodField.addEventListener('change', toggleBankNameField);
    }

    toggleBankNameField(); // Initialize the visibility on page load
});
</script>
{% endblock %}
